<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기 부터 설정-->
<mapper namespace="com.yi.spring.mappers.EmployeeMapper">

<!-- 쿼리문 작성 후-->
    <resultMap id="employeeResult" type="com.yi.spring.vo.EmployeeVO">
        <id property="empCode" column="empCode"/>
        <result property="empName" column="empName"/>
        <result property="empTitle" column="empTitle"/>
        <result property="empAuth" column="empAuth"/>
        <result property="empSalary" column="empSalary"/>
        <result property="empTel" column="empTel"/>
        <result property="empId" column="empId"/>
        <result property="empPwd" column="empPwd"/>
       <!--departmet 조인을 했으니-->
        <association property="dept" javaType="com.yi.spring.vo.DepartmentVO">
            <id property="deptNo" column="deptNo"/>
            <result property="deptName" column="deptName"/>
        </association>
    </resultMap>

    <select id="listEmployees" resultMap="employeeResult">
        select  empCode, empName, empTitle, empAuth, empSalary, empTel, empId, empPwd, d.deptName, d.deptNo
        from employee e
                 left join department d on e.deptNo = d.deptNo
        order by empCode
    </select>

    <insert id="empAdd" parameterType="com.yi.spring.vo.EmployeeVO">
        insert into employee(empCode, empName, empTitle, empAuth, empSalary, empTel, empId, empPwd, deptNo, empRetire)
        values (?, ?, ?, ? ,? ,? ,? ,? ,?, ?)
--         values (#{vo.empCode}, #{vo.empName}, #{vo.empTitle},#{vo.empAuth}, #{vo.empSalary}, #{vo.empTel}, #{vo.empId}, #{vo.empPwd}, #{vo.deptNo}, #{vo.empRetire})
    </insert>


    <update id="empUpd" parameterType="com.yi.spring.vo.EmployeeVO">
        UPDATE employee
        SET empCode = #{vo.empCode}, empTitle = #{vo.empTitle}, empAuth = #{vo.empAuth},
            empSalary = #{vo.empSalary}, empTel = #{vo.empTel}, empId = #{vo.empId}, empPwd = #{vo.empPwd},
            deptNo = #{vo.deptNo}
        WHERE empName = #{vo.empName};
    </update>

    <delete id="empDel" parameterType="com.yi.spring.vo.EmployeeVO">
        delete from employee where empName = #{vo.empName}
    </delete>

</mapper>